*converted*
*~
*aux
*log
*bbl
*blg
*out
params/results/*/
build/
EOSSimulations/EOS-ElectrostaticsOnly/
MATLAB-AND-python/DPFunctions/
MATLAB-AND-python/Poisson/
FULLDRYdisplacements.dat
FULLWETdisplacements.dat
uniformMob.dat
fluidVelocity.dat
randomPos.dat