*converted*
*~
*aux
*log
*bbl
*blg
*out
params/results/*/
build/
EOSSimulations/EOS-ElectrostaticsOnly/
EOSSimulations/Equilibrium_*/
EOSSimulations/results_*/
MATLAB-AND-python/DPFunctions/
MATLAB-AND-python/Poisson/
*.dat
stuff/